/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Gantari", sans-serif;
}

.container {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}

/* Cabeçalho */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 6px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

header nav ul li a {
  text-decoration: none;
  color: #031f3a;
  font-weight: 500;
  padding: 4px 8px;
}

header nav ul li:last-child a {
  background-color: #e87539;
  color: #f9decc;
  font-weight: 600;
}

/* Banner */
section#banner {
  background: url(../assets/banner_home.png) no-repeat center/cover;
  min-height: 520px;
}

/* Conheça Mais */
section#conheca {
  display: flex;
  padding: 60px 0px;
}

section#conheca img {
  max-width: 440px;
}

section#conheca div {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: 60px;
  justify-content: center;
}
section h2 {
  font-size: 26px;
  font-weight: 600;
  color: #031f3a;
}

section#conheca p {
  font-size: 14px;
  color: #7f7f7f;
}

section .botao {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #f3ba94;
  background-color: #e87539;
  border: 1px solid #ea813b;
  padding: 14px 80px;
}

section#conheca a {
  display: inline-block;
  width: 224px;
}

/* Por que nos escolher? */
section#porque {
  display: flex;
  margin-bottom: 120px;
  align-items: center;
}

section#porque ul {
  list-style: none;
  margin-top: 50px;
}

section#porque ul li {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 36px;
}

section#porque ul li h3 {
  color: #2e455b;
  font-size: 16px;
}

section#porque ul li p {
  color: #5b5b5b;
  font-size: 14px;
  margin-top: 14px;
}

/* Imagem Lista */
section#porque ul li img {
  max-width: 60px;
}

section#porque a {
  display: inline-block;
  width: 224px;
  margin-top: 50px;
  margin-left: 25%;
  text-align: center;
}

/* Imagem Office*/
section#porque img#office {
  max-width: 440px;
  max-height: 345px;
  margin-left: 40px;
  margin-bottom: 40px;
}
